---
import { Icon } from 'astro-icon/components';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<h2>
			<code>mdi:external-link</code> icon,
			alias of <code>mdi:open-in-new</code>
		<h2>
		<Icon name="mdi:external-link" size="2rem" />
	</body>
</html>
